<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <a class="navbar-brand" href="/">
    <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Учет комутационного ресурса
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Журнал<span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="/circuit_breakers_jur">Выключатели</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">Добавить ПС</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/jur_form">Добавить комутацию</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" >Редактирование данных</a>
      </li>
    </ul>
  </div>
</nav>